html, body, .row {
    height: 100%;
    width: 100%;
    position: absolute;
    margin-left: 0;
}

.col-md-5 {
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
}
.col-md-2 {
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
}

main {
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box
{
    width: 180px;
    height: 100px;
    background: #ccc;
    margin: 0 0 20px 0;
}

.searchBox {
  position: absolute;
  left: 0;
  height: 5%;
  width: 100%;
}

input[type="search"] {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

.wrap {
  top: 4%;
  width: 100%;
  border: 1px solid #ccc;
  height: 95%;
  overflow: auto;
  position: relative;
}